#main-head{
    background-color: rgba(255, 255, 255, 0.4);
    filter: blur(4); 
    width: 100%;
    height: 80px;
}

#logo{
    margin-left: 90px;
    height: 98px; 
    width: 117px;
    background-image: url("../../assets/logo.png");
    float: left;
}

#top-menu{
    display: inline-block;
}

#top-menu > p, #lang > p{
    display: inline-block;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
    text-transform: uppercase;
}

#lang{
    float: right;
    margin-right: 90px;
}

#select-lang > p{
    display: inline-block;
    font-weight: bold;
    margin-left: 4px;
    font-size: 14px;
    margin-top: 30px;
    text-transform: uppercase;
}

#select-lang{
    display: inline-block;
}

#triangle{
    margin-left: 4px;
    display: inline-block;
    border-radius: 14px; 
    width: 12px; 
    height: 12px; 
    overflow: hidden;
}

#triangle > p{
    margin-top: -1px;
    margin-left: -2px;
}