<div id="support-main">
    <div id="container">
        <div id="left-cont">
            <h1>ПІДТРИМАТИ ДОБРОВОЛЬЦІВ</h1>
            <div class="input">
                <p><b>ВНЕСОК</b> “приватбанк”</p>
            </div>
            <div class="input">
                <input type="number" required value="0">
                <select>
                    <option selected>UAN</option>
                </select>
            </div>
            <div id="input-buttons">
                <div class="button"><p><b>+100</b></p><p>UAN</p></div>
                <div class="button"><p><b>+500</b></p><p>UAN</p></div>
                <div class="button"><p><b>+1000</b></p><p>UAN</p></div>
            </div>
            <div id="main-button"><p>ЗРОБИТИ ВНЕСОК</p></div>
            <div id="bank-buttons">
                <div class="button">
                    <p class="left-p">monobank</p>
                    <p class="right-p" id="reqmono">4441 1144 4934 1179</p>
                </div>
                <div class="button">
                    <p class="left-p">BITCOIN</p>
                    <p class="right-p">3GFWoyFo2gnhoQ7CTR4CrhEzBJGqTcYHNw</p>
                </div>
                <div class="button">
                    <p class="left-p">Paypal</p>
                    <p class="right-p">OXANA PAVLOVA  vISIBLY 2022@GMAIL.COM</p>
                </div>
            </div>
        </div>
        <div id="right-cont">
            <div class="right-bordered">
                <span>
                    <p><b>US Dollar</b></p>
                    <p>Address</p>
                    <p>85E001</p>
                </span>
                <p>Oxca975fB886D004f8EE3D55570B3a2d578</p>
            </div>
            <div class="right-bordered">
                <span>
                    <p><b>Euro</b></p>
                    <p>Address</p>
                    <p>85E001</p>
                </span>
                <p>Oxca975fB886D004f8EE3D55570B3a2d578</p>
            </div>
            <div class="right-bordered">
                <span>
                    <p><b>British Pound</b></p>
                    <p>Address</p>
                    <p>85001</p>
                </span>
                <p>Oxca975fB88f6D004f8EE3D55570B3a2d578</p>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="logo">
            <img src="./assets/logo.png">
            <h1>ОБ'ЄДНАНІ сильні!</h1>
        </div>
            
        <div id="menu-footer">
            <p>Допомога добровольцям</p>
            <p>Про нас</p>
            <p>Магазин сувенірів</p>
            <p>Звіти</p>
            <p>Питання - відповіді</p>
        </div>

        <div id="phone">
            <span>
                <p>UA</p>
                <div id="triangle">
                    <p>&#x25BC;</p>
                </div>
            </span>
            <p>+380687811021</p>
        </div>

        <div id="copymark">
            <p>&copy;2023 Charity fund Vydnotkrai. All rights reserved</p>
        </div>
        <div></div>
        <div id="soc">
            <img src="./assets/soc/mail2.png">
            <img src="./assets/soc/reddit.png">
            <img src="./assets/soc/facebook.png">
            <img src="./assets/soc/insta.png">
            <img src="./assets/soc/twitter.png">
        </div>
    </div>
</div>