img{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 0;
    width: calc( 100% - 24px );
    height: 30vh;
    background-size: cover;
}

.button{
    margin: 3.88vh 10px 20px 10px;
    height: 4.36vh;
    width: calc( 100% - 20px );
    border-radius: 207px;
    background-color: rgb(85, 85, 85);
    color: white;
    box-sizing: border-box;
    padding: 0; 
}

.button > p{
    text-align: center;
    text-transform: uppercase;
    line-height: 4.36vh;
    margin: 0;
    word-spacing: 5%;
}