<div id="about-main">
    <h1>про нас</h1>
    <div id="about-columns">
        <div id="about-left">
            <img src="./assets/vityag.png">
            <img src="./assets/pechat.png">
        </div>
        <div id="about-right">
            <p class="li-like">Міжнародна Благодійна Організація "ВИДНОКРАЙ"</p>
            <p>Ідея створення нашого фонду виникла на початку відкритої агресії Росії проти України, коли ми вирішили підтримати солдатів з найближчої військової частини теплими речами!</p>

            <p>Потім ми побачили сотні добровольців, готових захищати свої домівки, міста і Батьківщину, не маючи військової амуніції, одягнених у громадянські одежі, а також добровольців з різних країн, які приїхали на допомогу українцям у відповідь на загрозу з боку монстра під назвою Російська Федерація. Ми бачили, як розстрілюють мирні міста і села, і як тисячі людей стають біженцями, тікаючи від російських ракет, не встигаючи навіть забрати документи. Дехто виїжджає у Європу, а дехто відходить у глибину України.</p>

            <p>Ми вирішили спробувати доставити амуніцію для добровольців із-за кордону, але зіткнулися з різного роду перешкодами, тому єдиний вихід – створити благодійний фонд.</p>

            <p class="li-like">Мета нашої організації:</p>
            <p class="li-like">Об'єднати людей доброї волі з усього світу, бажаючих допомогти Україні!</p>
            <p class="li-like">Надати допомогу безпосередньо тим, хто її потребує!</p>
            <p class="li-like">В першу чергу – допомогти добровольцям різних національностей з різних країн, які хоробро воюють за свободу, територіальну цілісність і незалежність України!</p>
            <p class="li-like">Допомогти мирним жителям, змушеним залишити свої рідні домівки, міста, села, іноді не встигаючи взяти нічого з собою, хто втратив все своє майно!</p>

            <p>Давайте об'єднаємося і допоможемо захисникам України, мирним жителям, захищати право на життя, дане Всевишнім Господом! Наша сила зараз у єдності.</p>

            <p class="li-like">Україна стала домом для багатьох народів!</p>
            <p class="li-like">І вам слава, сині гори, Кригою окуті. І вам, лицарі великі, Богом не забуті.</p>
            <p class="li-like">Борітеся – поборете, Вам Бог допомагає! За вас правда, за вас сила І свята воля!</p>
            <p class="li-like">Слава Україні!</p>
        </div>
    </div>
</div>
