#about-main{
    height: auto;
    width: calc(100% - 26vw);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 13vw;
    padding-right: 13vw;
}

#about-main > h1{
    line-height: 30px;
    font-size: 25px;
    letter-spacing: 5%;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

#about-columns{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 300px auto;
    column-gap: 40px;
}

#about-left > img{
    width: 100%;
    background-size: cover;
    margin-bottom: 20px;
}

#about-right > p, #about-right > p.li-like{
    line-height: 25px;
    font-size: 16px;
    letter-spacing: 5%;
    margin: 0;
}

#about-right > p{
    margin-bottom: 25px;
}

#about-right > p.li-like{
    margin-bottom: 0;
}