<div id="banner-root">
    <div id="main-banner">
        <p>ЗМІНЮЙМО МАЙБУТНЄ РАЗОМ: <br>
            ВИДНОКРАЙ - НАДІЯ ДЛЯ КОЖНОГО!   </p>
            <img src="../../assets/diagramm.png">
            <div class="button">
                <p>Зробити внесок</p>
            </div>
            <div class="button">
                <p>Запит на допомогу</p>
            </div>
    </div>
    <div id="banner-socials">
        <img src="../../assets/soc/reddit.png">
        <img src="../../assets/soc/facebook.png">
        <img src="../../assets/soc/insta.png">
        <img src="../../assets/soc/twitter.png">
    </div>
</div>