app-header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

app-banner{
    width: 100%;
    height: auto;
    margin-top: 0;
    position: relative;
    margin-bottom: 0;
    bottom: 0;
}

app-auction{
    width: 100%;
    height: auto;
    margin-top: 0;
    top: 0;
    position: relative;
}

app-helping{
    width: 100%;
    height: auto;
    margin-top: 0;
    top: 0;
    position: relative;
}

app-souvenirs{
    width: 100%;
    height: auto;
    margin-top: 0;
    top: 0;
    position: relative;
}

app-about{
    width: 100%;
    height: auto;
    margin-top: 0;
    top: 0;
    position: relative;
}

app-reports{
    width: 100%;
    height: auto;
    margin-top: 0;
    top: 0;
    position: relative;
}

app-faq{
    width: 100%;
    height: auto;
    margin-top: 0;
    top: 0;
    position: relative;
}

app-support{
    width: 100%;
    height: auto;
    margin-top: 0;
    top: 0;
    position: relative;
}