<div id="souvenirs-main">
    <h1>сувеніри</h1>
    <p class="title">&laquo;Зроблено у росії перероблено в УКРАЇНІ&raquo;</p>
    <p><b>"Слава Україні! Слава Ічкерії!</b></p>
    <p>Ці унікальні брелки створені з фрагменту крилатої ракети Р-500, яка належить ракетному комплексу Іскандер-К. Виготовлені ручною працею з осколків ракети, зібраних після обстрілу міста Дніпро 24.02.2022 року. Ці крилаті ракети є одними з найсучасніших систем зброї Росії, здатними маневрувати на малій висоті та завдавати удари з високою</p>
    <p>Історія цього брелка починається зі страшного ранку, коли місто Дніпро стало свідком відкритої агресії з боку Росії. У той день я побачив, як відбувається те, що раніше було знайоме для моєї рідної Ічкерії. З того моменту виникла ідея створити брелки з осколків цієї російської ракети, що обстрілювала наше місто. Ми вирішили продавати їх і використовувати кошти на допомогу військовим та добровольцям.</p>
    <p>Брелки виготовлені з осколків крилатої ракети P-500 (9М728) Іскандер-К. На них нанесено автошпаклювання, двокомпонентну автоемаль, лазерне гравірування і покрито 11 шарами автолаку. Ця ракета має імпресивні характеристики, включаючи довжину 7,3 метра, дальність стрільби 500 кілометрів.</p>
    <div id="carder">
        <app-cardnd *ngFor="let info of cards" [data]="info" (select)="focusItem($event)"></app-cardnd>
    </div>
    <div id="controler">
        <div id="left">
            <img src="./assets/left.png">
        </div>
        <div id="right">
            <img src="./assets/right.png">
        </div>
    </div>
</div>